//-===================================
template(language='pug')
  div
    h1 {{ title }}
    p {{user.name}}


//-===================================


//-===================================
script.
  export default {
      data: function() {
          return {
            title: "My name is: "
          }
      }
  }
//-===================================


//-===================================
style(lang='css').
  /* PENDING VUE-EXPRESS UPDATE */
//-===================================
